# Copyright (C) 2021 Chronoscope. All rights reserved.

[Unit]
Description=Minecraft Web Map (Back-end Server)

[Service]
ExecStart=/opt/mcmap/backend --mode production --socket-path /run/mcwebmap.sock --metadata-path /opt/mcmap/mapmeta
ExecReload=/usr/bin/kill -WINCH $MAINPID
ExecStop=/usr/bin/kill -USR1 $MAINPID
Type=simple
Restart=on-failure
User=http

# Security-related settings
PrivateTmp=true
ProtectSystem=full
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true

[Install]
WantedBy=multi-user.target
